.book-display{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid#fafafa;
}

.book-display:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
}

.book-display h2 {
    font-size: 20px;
    color: aqua;
    margin-bottom: 8px;
}