.inputField{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	border: solid 2px blue;
}

.inputField .inputField_h2{
	margin: 0px;
}

.inputField .inputField_ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

/* .inputField .inputField_button{
}*/