@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');


.form-inner{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One';
}


.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #53565A;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #d3b35d, #80e2bb);
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 70px;
    z-index: 2;
}


form .form-inner h2 {
    color: rgb(136, 136, 136);
    font-size: 30px;
    margin-bottom: 26px;
    font-weight: bolder;
}

form .form-inner .form-group {
    display: block;
    width: 500px;
    margin-bottom: 13px;
} 

.form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #be8563;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4s;
    border: none;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #5abafa 50%, #aadad2 50%, #40afe2);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

form .form-inner input[type="submit"]:hover , .welcome button:hover
{
    background-position: 100% 0%;
}

form .form-inner input[value="LOGIN"]
{
    font-size: 16px;
    font-family: 'Fjalla One';
}

.welcome {
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 15px 30px;
}

.welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color:#b8e5d3;
    font-weight: 700;
    margin-bottom: 30px;
}

.form-inner .form-logo {
    position: absolute;
    padding: 100px 210px 10px 160px;
}

form .form-inner img {
    width: 100%;
    height: auto;
}


form .form-inner .error {
    font-size: 15px;
    padding: 3px 0 0 10px;
    color: coral;
}



