.overlay{
    min-height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner{
    background: white;
    width: 50%;
    height: 50%;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}

.overlay-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box br{
    margin-top: 10px;
}

.overlay-inner .inner-box div{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.overlay-inner .inner-box .Name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}

.overlay-inner .inner-box {
    color: rgb(2, 3, 2);
}

.overlay-inner .info {
    font-size: 11px;
}

.overlay-inner .inner-box img{
    margin-right: 100px;
    margin-left: 5px;
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.overlay .overlay-inner button:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(120, 168, 187);
}

