.List {
    display: table;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 97%;
    height: auto;
    background: rgb(202, 224, 230);
    border: 10px solid rgba(74, 74, 74, 0.075);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: #204056;
    text-align: left;
    font-size: 18px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: auto;
}

.List li{
    margin: 10px;
}

.List p{
    font-weight: bold;
    font-family:"Lucida Console", "Courier New", monospace;
    border-radius: 1rem;
    color: rgb(255, 136, 0);
}
  
.List button{
    display: flex;
    align-items: right;
    justify-content: right;
    margin: auto;
    margin-right: 35px;
    float: right;
    cursor: pointer;
}

.List button:hover{
    transform: scale(0.9);
}

.List button.MB {
    border: none;
    align-items: center;
    outline-style:solid;
    outline-color: rgb(216, 216, 216);
    font-family: 'Lucida Bright';
}

.List .inputUser{
    display: table-cell;
    clear: both;
    width: 250px;
    float: right;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-right: 30px;
    margin-left: auto;
    margin-bottom: 10px;
}

.List .inputUser[type="text"]:hover {
    border: 1px solid black;
    shape-rendering:geometricPrecision;
}

.List .IconU{
    position: relative;
    padding-bottom: 8px;
    margin-right: 5px; 
}

.input-icons{
            display: flex;
            flex-direction: row;
            font-size: 25px;
            float: right;
}

